body {
    padding: 0px;
    /*color: rgb(38, 44, 47);*/
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("assets/back.jpg"); 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 20px;
}
    .pic {
        display: flex;
        justify-content: center;
        padding-top: 150px;
        padding-left: 200px;
        border: 0.5rem solid #313A3A;
        width: 300px;
        height: 400px;
      }